.App {
  text-align: left;
  background: #2b001a;
  color: azure;
  min-height: 100vh;
}

.header {
  background-color:#2b001a;
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: rgb(61, 32, 32);
}

.switches {
  background-color: #0a0016;
  min-height: 1vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: #2b001a;
}

.buttons {
  background-color: #282c34;
  min-height: 1vh;
  min-width: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 250, 129);
}

.inputs {
  background-color: #282c34;
  min-height: 1vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 250, 129);
}